.pills {
    display: flex;
    width: fit-content;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: calc(4 * var(--bs-border-radius));
	background-color: var(--bs-primary);
	color: var(--bs-light);
	padding-left: calc(var(--bs-border-radius));
	padding-right: calc(var(--bs-border-radius));
	padding-top: calc(var(--bs-border-radius) / 4);
	padding-bottom: calc(var(--bs-border-radius) / 4);
	margin: var(--bs-border-radius);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pills > * {
    margin: var(--bs-border-radius);
    margin-top: auto;
    margin-bottom: auto;
}

.pills > button {
    color: var(--bs-light);
    background-color: var(--bs-primary);
    border: 0px solid;
}

.pills:hover > button {
    background-color: var(--bs-link-hover-color);
}

.pills > button:hover {
    background-color: var(--bs-link-hover-color);
}

.pills:hover {
	color: var(--bs-light);
	background-color: var(--bs-link-hover-color);
	border-color: var(--bs-link-hover-color);
}